#mysidenav a{
    position:fixed;
    right: -140px;
    transition: 0.3s;
    padding: 15px;
    width: 180px;
    text-decoration:none;
    color: white;
    border-radius: 5px 0px 0px 5px;

}

#mysidenav a:hover{
    right: 0;
}

#mainPage   {
    top: 105px;
    background-color: gray;
    text-align:end
}

#addNewGarageForm  {
    top: 165px;
    background-color: gray;
    text-align:end
}
#showUsersGarages  {
    top: 225px;
    background-color: gray;
    text-align:end
}

#myReview  {
    top: 285px;
    background-color: gray;
    text-align:end
}

#myWallet  {
    top: 345px;
    background-color: gray;
    text-align:end
}

#rentalHistory  {
    top: 405px;
    background-color: gray;
    text-align:end
}

#custService  {
    top: 465px;
    background-color: gray;
    text-align:end
}